.form-group
  .input-group
    span.input-group-addon
      i.fa.fa-user.fa-pencil

    span.input-group-addon
      i.fa.fa-fw(fa-status='form.answer.diagnosisEvaluation')

    textarea.form-control(
      placeholder='clinical information',
      ng-model='answer.diagnosis.evaluation',
      name='diagnosisEvaluation',
      type='textarea',
      required,
      rows='3')

.form-group
  label {{ answer.diagnosis.confirmed && "Diagnosis" || "Diagnostic hypothesis" }}

  .input-group
    span.input-group-addon
      i.fa.fa-fw(ng-class='answer.diagnosis.confirmed && "fa-comment" || "fa-comment-o"')

    span.form-control {{ request.hypothesis }}

.form-group
  .checkbox
    label.control-label.input-group
      input.hidden(
        ng-model='answer.diagnosis.confirmed',
        type='checkbox')

      span.input-group-addon
        i.fa.fa-fw(ng-class='answer.diagnosis.confirmed && "fa-check-square" || "fa-square-o"')

      span.form-control Confirm diagnosis hypotheses

.form-group(ng-if='!answer.diagnosis.confirmed')
  .input-group
    span.input-group-addon
      i.fa.fa-fw.fa-user.fa-comment

    span.input-group-addon
      i.fa.fa-fw(fa-status='form.answer.diagnosisDescription')

    textarea.form-control(
      ng-model='answer.diagnosis.description',
      placeholder='Write your Diagnosis',
      name='diagnosisDescription',
      rows='5',
      required)

icds-typeahead(
  ta-template='/assets/templates/icds-typeahead.html',
  ta-list='icds.list',
  ta-name='typeahead',
  ta-no-dups='true',
  ta-delay='1000',
  ta-limit='8')

label Diagnosis

.panel-body(ng-if='!answer.diagnosis.confirmed && !icds.list.length')
  i.fa.fa-info-circle.margin-right-small
  | No Diagnosis added

.form-group(
  ng-repeat='icd in request.icds track by icd.id',
  ng-if='answer.diagnosis.confirmed')

  .input-group
    .form-control
      strong.margin-right-base {{ icd.code }}
      | {{ icd.description }}

    span.input-group-addon
      i.fa.fa-fw.fa-lock

.form-group(ng-repeat='icd in icds.list track by icd.id')
  .input-group
    .form-control
      strong.margin-right-base {{ icd.code }}
      | {{ icd.description }}

    span.input-group-btn
      button.btn.btn-default.btn-block(
        ng-click='icds.remove($index)',
        type='button')

        i.fa.fa-fw.fa-times
