extends ../layout

block subtitle
  | Tiene una actualización de información del #{ request.creatorWorkplace.name }.

block body
  if (sender.id === request.creatorUserId)
    p Se ha agregado una nueva respuesta del profesional #{ request.creatorUser.name }.
  else
    p Se ha agregado una nueva respuesta del profesional #{ request.specialistUser.name }.

  p Con fecha: #{ moment().format('dddd D [de] MMMM [de] YYYY') }, hora: #{ moment().format('HH:mm') }.

  p Para ver la respuesta debe ingresar a SAVINA ingresando su usuario y clave:

  p(style={
    'text-align': 'center',
    'padding': '24px 0'
    })

    a(href='#{ url }',
      style={
        'background-color': '#28bfae',
        'text-transform': 'uppercase',
        'text-decoration': 'none',
        'font-weight': 'bold',
        'color': '#ffffff',
        'padding': '16px'
      })

      | Ver respuesta

  p Si no puede abrir el enlace, copie y pegue esta dirección en la barra de direcciones de su navegador:

  pre(style={
    'padding': '8px',
    'background-color': '#eeeeee'
    })

    code #{ url }
