.row
  .col-sm-6
    form(
      name='form.attachments',
      role='form',
      novalidate)

      label Crear nuevo ex치men

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-fw.fa-stethoscope

          span.input-group-addon
            i.fa.fa-fw(fa-status='form.attachments.name')

          input.form-control(
            ng-required='attachments.description || files.list.length',
            placeholder='Nombre del ex치men',
            ng-model='attachments.name',
            name='name')

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-fw.fa-user.fa-pencil

          span.input-group-addon
            i.fa.fa-fw(fa-status='form.attachments.description')

          textarea.form-control(
            ng-required='attachments.name || files.list.length',
            placeholder='Resumen de los resultados o comentarios',
            ng-model='attachments.description',
            name='description',
            type='textarea',
            rows='4')

      .form-group(ng-repeat='file in files.list')
        .input-group
          span.input-group-addon
            i.fa.fa-fw(class='fa-file-{{ file.type | mimeicon }}')

          span.form-control.text-overflow {{ file.name }}

          span.input-group-btn
            button.btn.btn-default(ng-click='files.remove($index)')
              i.fa.fa-fw.fa-trash

      .form-group
        button.btn.btn-block.btn-default(
          ng-disabled='submitting',
          ng-model='files.list',
          ngf-multiple='true',
          ngf-keep='true',
          type='button',
          ngf-select)

          i.fa.fa-upload.margin-right-small
          i.fa.fa-fw.margin-right-small(fa-status='form.attachments.files')
          | Agregar archivos

      .form-group
        button.btn.btn-default.btn-block.btn-lg(
          ng-disabled='!attachments.name || !attachments.description || !files.list.length || submitting',
          ng-click='attachments.add()',
          type='button')

          | Adjuntar
          i.fa.fa-chevron-right.margin-left-small

      input.hidden(
        ng-required='(attachments.description || attachments.name) && !files.list.length',
        ng-model='files.$validate',
        name='files')

      input.hidden(
        ng-required='attachments.description || attachments.name || files.list.length',
        ng-model='attachments.$validate')

  .col-sm-6
    label Ex치menes adjuntos

    p(ng-if='!attachments.list.length')
      i.fa.fa-info-circle.margin-right-small
      | Completa el formulario de la izquierda para agregar ex치menes.

    .form-group(ng-repeat='attachment in attachments.list')
      .input-group
        .input-group-addon
          i.fa.fa-fw.fa-stethoscope

        .form-control
          p #[strong(ng-if='attachment.name') {{ attachment.name }}:] {{ attachment.description }}

          .tag-list
            .tag(ng-repeat='file in attachment.files')
              i.fa.padding-right-small(class='fa-file-{{ file.type | mimeicon }}')
              span {{ file.name }}

        span.input-group-btn
          button.btn.btn-default.btn-block(
            ng-click='attachments.remove($index)',
            type='button')

            i.fa.fa-fw.fa-trash
