.form-group
  .input-group
    span.input-group-addon
      i.fa.fa-fw.fa-birthday-cake

    span.input-group-addon
      i.fa.fa-fw(fa-status='form.patient.birth')

    //span.form-control {{ data.patient.birth | fromNow : true }} ({{ data.patient.birth | formatUTC : "LL" }})
    span.form-control {{ data.patient.birth | ageServerDetallado : fechaHoraServidor }} ({{ data.patient.birth | formatUTC : "LL" }})

    input.hidden(
      ng-model='data.patient.birth',
      name='birth',
      type='date',
      required)

    span.input-group-addon
      i.fa.fa-fw(ng-class='locked.patient.birth && "fa-lock" || "fa-calendar"')

fieldset(ng-if='!locked.patient.birth')
  .row
    .col-sm-4.form-group
      input.form-control(
        ng-model='datepicker.date.year.value',
        min='{{ datepicker.date.year.min }}',
        max='{{ datepicker.date.year.max }}',
        type='number',
        required)

    .col-sm-8.form-group
      select.form-control(
        ng-options='month.value as month.name disable when month.disabled for month in datepicker.date.month.list',
        ng-model='datepicker.date.month.value',
        required)

  .radio-group
    label.header(ng-repeat='a in datepicker.weekdaysMin(true)')
      | {{ a }}

    label.placeholder(ng-repeat='o in datepicker.getFirstWeekDayOffset(true)')
      | &ensp;

    label.btn.btn-default(
      ng-class='{ "active": datepicker.date.day.value === day.value }',
      ng-repeat='day in datepicker.date.day.list',
      ng-disabled='day.disabled')

      input(
        ng-model='datepicker.date.day.value',
        ng-disabled='day.disabled',
        ng-value='day.value',
        type='radio',
        required)

      | {{ day.value }}
