.panel
  .panel-body
    .btn-group.btn-group-justified
      a.btn.btn-default(ng-href='#answers')
        i.margin-right-small.fa.fa-bars
        | Respuestas

      span.btn.btn-default.active
        i.margin-right-small.fa.fa-plus-circle
        | Agregar

    .panel-body(ng-if='fetching')
      p
        i.margin-right-small.fa.fa-circle-o-notch.fa-spin
        | Un momento por favor&hellip;

    .panel-body(ng-if='errored')
      p
        i.margin-right-small.fa.fa-exclamation-circle
        | Algo malo pasó&hellip;

    form(
      ng-submit='form.answer.$valid && submit()',
      ng-show='!fetching && !errored',
      name='form.answer',
      role='form',
      novalidate)

      .margin-vertical-base(ng-if='!specialist')
        .input-group
          span.input-group-addon
            i.fa.fa-user.fa-comment

          span.input-group-addon
            i.fa.fa-fw(fa-status='form.answer.comment')

          textarea.form-control(
            placeholder='Ingresa tu comentario',
            ng-model='answer.comment',
            ng-required='!specialist',
            type='textarea',
            name='comment',
            rows='3')

      .margin-vertical-base(ng-if='specialist')
        h4.panel-title.padding-top-large.padding-left-base
          i.margin-right-small.fa.fa-clipboard
          | Diagnóstico

        include-template(ng-src='/assets/templates/requests/answers/diagnosis.html')

        include-template(ng-src='/assets/templates/divider.html')

      .margin-vertical-base(ng-if='specialist')
        h4.panel-title.padding-top-large.padding-left-base
          i.margin-right-small.fa.fa-plus-square
          | Plan Terapéutico

        include-template(ng-src='/assets/templates/requests/answers/therapeutic-plan.html')

        include-template(ng-src='/assets/templates/divider.html')

      .margin-vertical-base(ng-if='specialist')
        h4.panel-title.padding-top-large.padding-left-base
          i.margin-right-small.fa.fa-book
          | Exámenes

        include-template(ng-src='/assets/templates/requests/answers/exams.html')

        include-template(ng-src='/assets/templates/divider.html')

      .margin-vertical-base(ng-if='specialist')
        h4.panel-title.padding-top-large.padding-left-base
          i.margin-right-small.fa.fa-stethoscope
          | Control

        include-template(ng-src='/assets/templates/requests/answers/checkup.html')

        include-template(ng-src='/assets/templates/divider.html')

      button.btn.btn-lg.btn-block.btn-default(
        ng-disabled='form.answer.$invalid || submitting',
        type='submit')

        span(ng-if='!submitting')
          | Agregar
          i.margin-left-small.fa.fa-send

        span(ng-if='submitting')
          i.margin-right-small.fa.fa-circle-o-notch.fa-spin
          | Agregando&hellip;
