.form-group
  .input-group
    span.input-group-addon
      i.fa.fa-fw.fa-pencil

    span.input-group-addon
      i.fa.fa-fw(fa-status='form.answer.diagnosisTherapeuticPlan')

    textarea.form-control(
      ng-model='answer.diagnosis.therapeuticPlan',
      name='diagnosisTherapeuticPlan',
      placeholder='Plan terapéutico',
      type='textarea',
      rows='5')
