//- Notification sound
audio#sound-notification
  source(
    src='/assets/sounds/notification.webm',
    type='audio/webm')

  source(
    src='/assets/sounds/notification.mp3',
    type='audio/mpeg')

  source(
    src='/assets/sounds/notification.ogg',
    type='audio/ogg; codecs=vorbis')

  source(
    src='/assets/sounds/notification.wav',
    type='audio/wav')
