form(
  ng-submit='fetch()',
  name='filterForm',
  role='form')

  .form-group
    .input-group
      span.input-group-addon
        i.fa.fa-fw.fa-align-left

      input.form-control(
        placeholder='Buscar por texto de la solicitud',
        ng-model='params.keywords')

      span.input-group-btn
        button.btn.btn-default(
          ng-click='params.keywords = null',
          type='button')

          i.fa.fa-fw.fa-undo

  //-
    .row
      .col-sm-6
        label Fecha mínima de creación
        datepicker(
          dp-template='assets/templates/requests/worktable/datepicker-min.html',
          dp-max-month='filterDateMax.date.month.value',
          dp-max-year='filterDateMax.date.year.value',
          dp-max-day='filterDateMax.date.day.value',
          dp-model='params.dateMin',
          dp-name='filterDateMin',
          dp-restrict='past')

      .col-sm-6
        label Fecha máxima de creación
        datepicker(
          dp-template='assets/templates/requests/worktable/datepicker-max.html',
          dp-min-month='filterDateMin.date.month.value',
          dp-min-year='filterDateMin.date.year.value',
          dp-min-day='filterDateMin.date.day.value',
          dp-model='params.dateMax',
          dp-name='filterDateMax',
          dp-restrict='past')

  .btn-group-grid
    button.btn.btn-default.btn-block(
      ng-click='reset()',
      type='button')

      i.fa.fa-times.padding-right-base
      | Quitar filtros

    button.btn.btn-default.btn-block(type='submit')
      i.fa.fa-filter.padding-right-base
      | Filtrar
