.room-main(ng-if='connected')
  nav.btn-group.btn-group-justified.margin-bottom-base
    button.btn.btn-default.margin-right-base(
      ng-class='{ "active": conference.active }',
      ng-click='conference.toggle()',
      ng-disabled='conferece.busy')

      i.fa.fa-fw.margin-right-small(
        ng-class='conference.active && "fa-stop" || "fa-video-camera"')

      span(ng-if='conference.active') Detener conferencia
      span(ng-if='!conference.active') Iniciar conferencia

    a.btn.btn-default(
      ng-class='{ "active": session.activity.name === "details" }',
      ng-href='#details')

      i.fa.fa-fw.margin-right-small.fa-file-text
      | Detalles

    a.btn.btn-default(
      ng-class='{ "active": session.activity.name === "attachments" }',
      ng-href='#attachments')

      i.fa.fa-fw.margin-right-small.fa-paperclip
      | Adjuntos

      span.label.label-info.margin-left-small(ng-if='notifications.attached') {{ notifications.attached }}

    a.btn.btn-default(
      ng-class='{ "active": session.activity.name === "answers" }',
      ng-href='#answers')

      i.fa.fa-fw.margin-right-small.fa-clipboard
      | Respuestas

      span.label.label-info.margin-left-small(ng-if='notifications.answered') {{ notifications.answered }}

    a.btn.btn-default(
      ng-class='{ "active": session.activity.name === "actions" }',
      ng-hide='session.user.specialty',
      ng-href='#actions')

      i.fa.fa-fw.margin-right-small.fa-exclamation-triangle
      | Acciones

  .room-content
    .content
      conference.conference(
        room='request-{{ request.id }}',
        ng-show='conference.active',
        remote-video='remote-video',
        active='conference.active',
        local-video='local-video',
        busy='conference.busy')

      request-room-contents.views.scroll-y(request='request')

    messaging.messaging
