.container
  .row
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      img.img-responsive(src='/assets/images/logo-full.png')

      .padding-top-large.padding-bottom-large &nbsp;

      .panel
        .panel-heading
          .panel-title
            .panel-title-icon
              i.fa.fa-mr.fa-fw.fa-key

            .panel-title-text
              h3 Crea una nueva clave
              p Crea una nueva clave para tu cuenta

        form(
          ng-submit='form.$valid && submit()',
          name='form',
          role='form',
          novalidate)

          .form-group(ng-show='validating')
            .input-group
              span.input-group-addon
                i.fa.fa-fw.fa-circle-o-notch.fa-spin

              .form-control Un momento por favor&hellip;

          .form-group(ng-hide='validating')
            .input-group
              span.input-group-addon
                i.fa.fa-fw.fa-asterisk

              input.form-control(
                placeholder='Ingresa tu nueva clave',
                ng-disabled='validating',
                ng-model='form.password',
                ng-minlength='4',
                type='password',
                required)

          .form-group(ng-hide='validating')
            .input-group
              span.input-group-addon
                i.fa.fa-fw.fa-asterisk

              input.form-control(
                ng-disabled='form.password.length < 4 || validating',
                placeholder='Confirma tu nueva clave',
                ng-model='form.vpassword',
                ng-minlength='4',
                type='password',
                required)

          button.btn.btn-lg.btn-block.btn-default(
            ng-disabled='form.$invalid || validating || form.password !== form.vpassword || submitting',
            type='submit')

            i.fa.margin-right-small(ng-class='submitting && "fa-circle-o-notch fa-spin" || "fa-check"')
            | Cambiar clave

      include-template(ng-src='/assets/templates/divider.html')

      a.btn.btn-block.btn-default(ng-href='/')
        | Ya tengo mi clave
