.form-group
  .input-group
    span.input-group-addon
      i.fa.fa-fw.fa-calendar-o

    span.form-control(ng-if='params.dateMaxEnabled') {{ params.dateMax | formatUTC:"LL" | capitalize }}
    span.form-control(ng-if='!params.dateMaxEnabled') Sin límite

    span.input-group-btn
      button.btn.btn-default(
        ng-click='params.dateMaxEnabled = !params.dateMaxEnabled; filterDateMax.update()',
        type='button')

        span(ng-if='!params.dateMaxEnabled')
          | ACTIVAR

        span(ng-if='params.dateMaxEnabled')
          | QUITAR

fieldset(ng-disabled='!params.dateMaxEnabled')
  .row
    .col-sm-4.form-group
      input.form-control(
        ng-model='filterDateMax.date.year.value',
        min='{{ filterDateMax.date.year.min }}',
        max='{{ filterDateMax.date.year.max }}',
        type='number')

    .col-sm-8.form-group
      select.form-control(
        ng-options='month.value as month.name disable when month.disabled for month in filterDateMax.date.month.list',
        ng-model='filterDateMax.date.month.value')

  .radio-group
    label.btn.btn-default(
      ng-class='{ "active": filterDateMax.date.day.value === day.value }',
      ng-repeat='day in filterDateMax.date.day.list',
      ng-disabled='day.disabled')

      input(
        ng-model='filterDateMax.date.day.value',
        ng-disabled='day.disabled',
        ng-value='day.value',
        type='radio')

      | {{ day.value }}
