form(
  name='form.hypothesis',
  role='form')

  .row
    .col-sm-6
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-fw.fa-pencil

          textarea.form-control(
            placeholder='Write your diagnosis hypotheses',
            ng-model='data.hypothesis',
            rows='4',
            required)

      label Diagnosis

      .panel-body(ng-if='!icds.list.length')
        p
          i.fa.fa-info-circle.margin-right-small
          | No Diagnosis added

      .form-group(ng-repeat='icd in icds.list')
        .input-group
          .form-control
            strong.margin-right-base {{ icd.code }}
            | {{ icd.description }}

          span.input-group-btn
            button.btn.btn-default.btn-block(
              ng-click='icds.del($index)',
              type='button')

              i.fa.fa-fw.fa-trash

    .col-sm-6
      icds-typeahead(
        ta-template='/assets/templates/icds-typeahead.html',
        ta-list='icds.list',
        ta-name='typeahead',
        ta-no-dups='true',
        ta-delay='1000',
        ta-limit='8')
