form(
  name='form.motive',
  role='form',
  novalidate)

  .row
    .col-sm-4
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-fw.fa-file

          select.form-control(
            ng-options='motive.id as motive.name for motive in motives',
            ng-model='data.motiveId',
            required)

    .col-sm-4
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-fw.fa-dot-circle-o

          select.form-control(
            ng-options='specialty.id as specialty.name for specialty in specialties',
            ng-model='data.specialtyId',
            required)

    .col-sm-4
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-fw.fa-warning

          select.form-control(
            ng-options='priority.id as priority.name for priority in priorities',
            ng-model='data.priorityId',
            required)

  .form-group
    .input-group
      span.input-group-addon
        i.fa.fa-fw.fa-pencil

      textarea.form-control(
        placeholder='Write your comment about this request',
        ng-model='data.comment',
        type='textarea',
        rows='4',
        required)
