.scroll-y
  .panel(ng-if='fetching.user')
    .panel-body
      i.fa.fa-circle-o-notch.fa-spin.margin-right-small
      | Obteniendo tu información&hellip;

  .panel(ng-if='!user && !fetching.user')
    .panel-body
      i.fa.fa-exclamation-circle.margin-right-small
      | Tu información no está disponible.

  .panel(ng-if='user && !fetching.user')
    .panel-heading.form-group
      .panel-title
        .panel-title-icon
          i.fa.fa-fw.fa-user-md

        .panel-title-text
          h3 {{ user.name }}
          h4(ng-if='user.specialty') Especialista en {{ user.specialty.name }}
          p {{ user.email }}

    .panel-body
      label Preferencias

      div(ng-if='fetching.preferences')
        i.fa.fa-circle-o-notch.fa-spin.margin-right-small
        | Obteniendo tus preferencias&hellip;

      div(ng-if='!preferences && !fetching.preferences')
        i.fa.fa-exclamation-circle.margin-right-small
        | Tus preferencias no están disponibles.

      div(ng-if='!fetching.preferences && preferences')
        p Recibir notificaciones por correo electrónico cuando:

        mixin preference(name, message, condition)
          .checkbox.form-group(ng-if=condition)
            label.input-group

              input.hidden(
                ng-disabled='updating.preferences',
                ng-change='update.preferences()',
                ng-model='preferences.#{ name }',
                type='checkbox')

              span.input-group-addon
                i.fa.fa-fw(ng-class='preferences.#{ name } && "fa-check-square" || "fa-square-o"')

              span.form-control #{ message }

        fieldset(ng-disabled='updating.preferences')
          +preference('emailRequestCreated', "Un profesional crea una nueva solicitud", 'user.specialty')
          +preference('emailRequestTaken', "Un profesional toma una de mis solicitudes", '!user.specialty')
          +preference('emailRequestAnswered', "Se agrega una respuesta a una solicitud")
          +preference('emailRequestAttached', "Se agrega un adjunto a una solicitud")
          +preference('emailRequestMessaged', "Se ha enviado un mensaje en una solicitud")
          +preference('emailRequestClosed', "Se ha cerrado una solicitud", 'user.specialty')
          +preference('emailRequestReturned', "Se ha devuelto una solicitud a la mesa de trabajo", 'user.specialty')

        p Sonidos:

        fieldset(ng-disabled='updating.preferences')
          +preference('soundNotifications', "Reproducir un sonido para las notificaciones en la aplicación")
