extends ../layout

block subtitle
  | Se ha agregado una nueva solicitud.

block body
  p #{ request.creatorUser.name } ha agregado una nueva solicitud de #{ request.requestType.name } para su especialidad.

  p Con fecha: #{ moment().format('dddd D [de] MMMM [de] YYYY') }, hora: #{ moment().format('HH:mm') }.

  p Para ver la solicitud debe ingresar a SAVINA ingresando su usuario y clave:

  p(style={
    'text-align': 'center',
    'padding': '24px 0'
    })

    a(href='#{ url }',
      style={
        'background-color': '#28bfae',
        'text-transform': 'uppercase',
        'text-decoration': 'none',
        'font-weight': 'bold',
        'color': '#ffffff',
        'padding': '16px'
      })

      | Ver solicitud

  p Si no puede abrir el enlace, copie y pegue esta dirección en la barra de direcciones de su navegador:

  pre(style={
    'padding': '8px',
    'background-color': '#eeeeee'
    })

    code #{ url }
